.profimg {
    background-image: url("../images/profile.JPG");
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    border: 9px solid #00cc00; /* 枠線を付加 */
}