@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.container {
    height: 100vh;
}
.profimg {
    width:200px;
	height:200px;
	object-fit:cover;
	border-radius:50%;
    border: 1px solid black;
}

.box {
    width: 60%;
    margin: 0 auto;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: left;
    padding-left: 100px;
    border-bottom: 10px pink solid;
}