

a, a:visited {
    text-decoration: none;
    color: black;
}

.linkcontainer1, .linkcontainer2, .linkcontainer3 {
    background: pink;
    border: 1px solid black;
} {
    background: pink;
    border: 1px solid black;
} {
    background: pink;
    border: 1px solid black;
}