

a, a:visited {
    text-decoration: none;
    color: black;
}

.linkcontainer1, .linkcontainer2, .linkcontainer3 {
    // width: 200px;
    padding: 10px;
    background: pink;
    border: 1px solid black;
    margin: 20px 0;
} 

.linkcontainer1 {
    border-radius: 50% 0 0 50%;
}

.linkcontainer3 {
    border-radius: 0 50% 50% 0;
}

.border {
    border-bottom: dashed;
}