

.container {
    width: 1000px;
    margin: 0 auto;
    background-image: url(../images/footprint.png);
    background-size: 100%;
}

.work-con {
    width: 250px;
    height: 175px;
    position: relative;
    overflow: hidden;
}

.hoverMask {
    width: 250px;
    height: 175px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.hover-mask {
    opacity: 1;
    transition:all 0.6s ease;
}
.workimg {
    width: 300px;
    margin: 5px 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	.container {
        width: 400px;
    }

    .workimg {
        width: 350px;
        margin: 5px;
    }
}