
.container {
    min-height: 100vh;
    margin-bottom: 20px;
}

.desc {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
}

.title {
    text-decoration: underline solid 5px pink;
}

.icon {
    font-size: 30px;
    margin: 0 10px;
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 10px;
    }
	.desc {
        width: 100%
    }
}